# Ignore virtual environment
venv/
# Ignore test folders
Sequences Test/
Archive/
Archive Files/
Versions/
# Ignore Python cache files
**__pycache__**/
*.py[cod]
*.pyo
# Ignore OS junk
.DS_Store
Thumbs.db
# Ignore IDE/editor config
.vscode/
*.code-workspace
# Ignore env/secret files
*.env
# Ignore files
*.txt
*.csv
