# Virtual environments
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Build artefacts
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# IDE / editor files
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Environment files
*.env

# Project specific folders
Sequences Test/
Archive/
Archive Files/
Versions/
test_sequences/